name: Deploy to HF Space

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Push to HuggingFace Space
        uses: huggingface/space-kit@v3
        with:
          repo: "spaces/abhi20033/houseprice-mlops"
          token: ${{ secrets.HF_TOKEN }}
