name: Deploy to HF Space

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Push to HF space
        run: |
          git remote add space https://oauth2:${{ secrets.HF_TOKEN }}@huggingface.co/spaces/abhi20033/houseprice-mlops
          git push space main --force
