name: Deploy to Hugging Face Space

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Push to Hugging Face Space
        uses: huggingface/hub-docs/hub-action@v1
        with:
          repo: abhi20033/houseprice-mlops
          repo-type: space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
