name: Deploy to HF Space

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to HF Space
        uses: huggingface/hub-action@v1
        with:
          repo-id: abhi20033/houseprice-mlops
          repo-type: space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
